.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.toPrint {
  /* border: 2px solid red; */
  margin: 30px;
  padding: 20px;
}

.para-holder {
  display: flex;
  flex-direction: column;
  
}
.para {
  display: flex;
  padding: 5px;
  text-align: left;
}

.p1-high {
  color: yellow;
  background-color: thistle;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button {
  padding: 5px;
}

.text-field {
  display: flex;
  justify-content: center;
}

.in-txt {
  color: slategray;
}

.line-through {
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
